/* Reset CSS */
* {
  margin: 0;
    padding: 0;
      box-sizing: border-box;
      }

      body {
        font-family: Arial, sans-serif;
        }

        /* Estilos do header */
        header {
          display: flex;
            justify-content: space-between;
              align-items: center;
                padding: 20px;
                  background-color: #7d3a89; /* Roxo */
                    color: #fff; /* Branco */
                    }

                    .logo img {
                      width: 100px;
                      }

                      nav ul {
                        list-style: none;
                        }

                        nav ul li {
                          display: inline-block;
                            margin-left: 20px;
                            }

                            nav ul li a {
                              text-decoration: none;
                                color: #fff; /* Branco */
                                }

                                /* Estilos do banner */
                                #banner {
                                  position: relative;
                                    height: 500px;
                                      background-color: #7d3a89; /* Roxo */
                                        color: #fff; /* Branco */
                                          display: flex;
                                            justify-content: center;
                                              align-items: center;
                                              }

                                              #banner video {
                                                position: absolute;
                                                  top: 0;
                                                    left: 0;
                                                      width: 100%;
                                                        height: 100%;
                                                          object-fit: cover;
                                                            z-index: -1;
                                                            }

                                                            .banner-content {
                                                              text-align: center;
                                                              }

                                                              .banner-content h1 {
                                                                font-size: 48px;
                                                                  text-transform: uppercase;
                                                                    letter-spacing: 3px;
                                                                      margin-bottom: 20px;
                                                                        color: #ff9000; /* Laranja */
                                                                        }

                                                                        .banner-content p {
                                                                          font-size: 18px;
                                                                          }

                                                                          .btn-scroll {
                                                                            display: inline-block;
                                                                              margin-top: 20px;
                                                                                padding: 10px 20px;
                                                                                  background-color: #ff9000; /* Laranja */
                                                                                    color: #fff; /* Branco */
                                                                                      text-decoration: none;
                                                                                        font-size: 18px;
                                                                                          border-radius: 4px;
                                                                                          }

                                                                                          /* Estilos da lista de produtos */
                                                                                          #produtos {
                                                                                            padding: 50px 0;
                                                                                              background-color: #fff; /* Branco */
                                                                                              }

                                                                                              .product-list {
                                                                                                display: flex;
                                                                                                  justify-content: space-around;
                                                                                                    flex-wrap: wrap;
                                                                                                    }

                                                                                                    .product-item {
                                                                                                      text-align: center;
                                                                                                        margin: 20px;
                                                                                                          max-width: 300px;
                                                                                                          }

                                                                                                          .product-item img {
                                                                                                            width: 100%;
                                                                                                              border: 3px solid #ff9000; /* Laranja */
                                                                                                                border-radius: 10px;
                                                                                                                }

                                                                                                                .product-item h3 {
                                                                                                                  margin-top: 10px;
                                                                                                                    font-size: 24px;
                                                                                                                      color: #7d3a89; /* Roxo */
                                                                                                                      }

                                                                                                                      .product-item p {
                                                                                                                        margin-top: 10px;
                                                                                                                          color: #444;
                                                                                                                          }

                                                                                                                          .product-price {
                                                                                                                            margin-top: 5px;
                                                                                                                              font-size: 18px;
                                                                                                                              }

                                                                                                                              .btn-cart {
                                                                                                                                display: block;
                                                                                                                                  margin-top: 10px;
                                                                                                                                    padding: 8px 16px;
                                                                                                                                      background-color: #ff9000; /* Laranja */
                                                                                                                                        color: #fff; /* Branco */
                                                                                                                                          border: none;
                                                                                                                                            cursor: pointer;
                                                                                                                                              font-size: 16px;
                                                                                                                                                border-radius: 4px;
                                                                                                                                                  transition: background-color 0.3s ease;
                                                                                                                                                  }

                                                                                                                                                  .btn-cart:hover {
                                                                                                                                                    background-color: #ff7b00; /* Laranja mais escuro */
                                                                                                                                                    }

                                                                                                                                                    /* Estilos da página de descrição do produto */
                                                                                                                                                    #descricao-produto1 {
                                                                                                                                                      display: none;
                                                                                                                                                      }

                                                                                                                                                      .product-details-content {
                                                                                                                                                        text-align: center;
                                                                                                                                                          max-width: 500px;
                                                                                                                                                          }

                                                                                                                                                          .product-details-content img {
                                                                                                                                                            width: 100%;
                                                                                                                                                              border: 3px solid #ff9000; /* Laranja */
                                                                                                                                                                border-radius: 10px;
                                                                                                                                                                }

                                                                                                                                                                .product-details-content h3 {
                                                                                                                                                                  margin-top: 20px;
                                                                                                                                                                    font-size: 32px;
                                                                                                                                                                      color: #7d3a89; /* Roxo */
                                                                                                                                                                      }

                                                                                                                                                                      .product-details-content p {
                                                                                                                                                                        margin-top: 10px;
                                                                                                                                                                          color: #444;
                                                                                                                                                                          }

                                                                                                                                                                          .btn-back {
                                                                                                                                                                            display: block;
                                                                                                                                                                              margin-top: 20px;
                                                                                                                                                                                padding: 8px 16px;
                                                                                                                                                                                  background-color: #7d3a89; /* Roxo */
                                                                                                                                                                                    color: #fff; /* Branco */
                                                                                                                                                                                      border: none;
                                                                                                                                                                                        cursor: pointer;
                                                                                                                                                                                          font-size: 16px;
                                                                                                                                                                                            border-radius: 4px;
                                                                                                                                                                                              transition: background-color 0.3s ease;
                                                                                                                                                                                              }

                                                                                                                                                                                              .btn-back:hover {
                                                                                                                                                                                                background-color: #692d76; /* Roxo mais escuro */
                                                                                                                                                                                                }

                                                                                                                                                                                                /* Estilos do rodapé */
                                                                                                                                                                                                footer {
                                                                                                                                                                                                  display: flex;
                                                                                                                                                                                                    justify-content: space-between;
                                                                                                                                                                                                      align-items: center;
                                                                                                                                                                                                        padding: 20px;
                                                                                                                                                                                                          background-color: #7d3a89; /* Roxo */
                                                                                                                                                                                                            color: #fff; /* Branco */
                                                                                                                                                                                                              position: absolute;
                                                                                                                                                                                                                bottom: 0;
                                                                                                                                                                                                                  width: 100%;
                                                                                                                                                                                                                  }

                                                                                                                                                                                                                  .logo-footer img {
                                                                                                                                                                                                                    width: 80px;
                                                                                                                                                                                                                    }

                                                                                                                                                                                                                    .social-links a {
                                                                                                                                                                                                                      margin-left: 10px;
                                                                                                                                                                                                                      }

                                                                                                                                                                                                                      .contact p {
                                                                                                                                                                                                                        font-size: 18px;
                                                                                                                                                                                                                        }
                                                                                                                                                                                                                        